<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <app-tarjeta-header></app-tarjeta-header>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <app-tarjeta-form
        [accion]="accion"
        [tarjetaEditada]="tarjetaEditada"
        (onGuardar)="guardarTarjeta($event)">
      </app-tarjeta-form>
    </div>
    <div class="col-lg-6">
      <app-tarjeta-list
        [tarjetas]="listTarjetas"
        (onEditar)="editarTarjeta($event)"
        (onEliminar)="eliminarTarjeta($event)">
      </app-tarjeta-list>
    </div>
  </div>
</div>
